vrrp_script chk_haproxy {
  script "/usr/bin/pgrep haproxy"
  interval 2
  weight 2
}

vrrp_instance VI_1 {
  state {{ STATE }}
  interface ens192
  virtual_router_id 51
  priority {{ PRIORITY }}
  advert_int 1
  accept
  virtual_ipaddress {
    {{ lb_vip }}/23
  }
  track_script {
    chk_haproxy
  }
}

